# # Environment variables
.env
# .env.local
.wrangler/

# Node modules
node_modules/

# Build output
.next/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
*.pem

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Server specific
server/.env
server/.env.local

# Client specific
client/clipboard_sync.exe
client/build/